$main-color: #03c8a8;
$font-color: #24292f;
$dark-bg: #181818;
$light-bg: #f5f5f5;
$light-font: #edecec;
$dark-font: #181818;
$yellow: #f1f291;
$grey: #777470;
$green: #27746c;
$red: #b4333a // former: #edecec