// .ant-comment-content {
//   font-size: 11px;
// }

.comments {
  margin-top: 20px
}

.dark {
  .comments__item .ant-ribbon-wrapper {
    background: #101010;

  }
}

.comments__item .ant-ribbon-wrapper {
  background: #f7f7f7;
  padding: 10px;
  border-radius: 10px
}