.main__search.active-search {
  .main__search__inner {
    width: 100%;
    padding: 10px 50px 10px 10px;

    input.main__search__inner__area {
      width: 100%;
    }

    .main__search__inner__list {
      width: 100px;
      border: 2px solid darken($light-bg, 5%);

      select {
        display: block
      }
    }

    .main__search__inner__btn {
      top: 0;
      height: 100%;
      border-radius: 0 20px 20px 0;
    }
  }
}

.main__search {
  display: flex;
  align-items: center;
  width: 40%;


  .main__search__illustration {
    height: 50px;
    margin-right: 30px;
  }

  .main__search__inner {
    width: 0%;
    height: 100%;
    position: relative;
    padding: 0;
    border-radius: 20px;
    background-color: darken($light-bg, 5%);
    transition: all 0.5s ease-in-out;

    input.main__search__inner__area {
      height: 100%;
      width: 0%;
      background-color: darken($light-bg, 5%);
      border: none;
      font-size: 0.9rem;
      border-radius: 20px;
      padding: 0 10px 0 10px
    }

    .main__search__inner__btn {
      position: absolute;
      top: -10px;
      cursor: pointer;
      width: 40px;
      height: 40px;
      background: $red;
      right: -20px;
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 100%;

      &:hover {
        transition: 0.6s ease;
        transform: scale(0.95);
        // height: calc(100% - 4px);
        // border: 2px solid darken($light-bg, 5%);
      }
    }

    .main__search__inner__list {
      position: absolute;
      top: 0;
      cursor: pointer;
      width: 0px;
      height: 100%;
      background: $light-bg;
      border: none;
      left: -20px;
      border-radius: 20px 0 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;


      select {
        display: none;
        border: none;
        background-color: transparent;
        margin-left: 0px;
        color: $dark-font;
        font-size: 0.7rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .main__search {
    display: none;
  }
}